:root {
    --primary-color: #396B33;
}

@font-face {
    font-family: 'larissa';
    src: url('fonts/Larissa.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

.heroSectionOuter,
.donateForm,
.aboutSection,
.SupportSection,
.footerMenuSection {
    margin-bottom: 80px;
}

/* Top Header */

.topHeader {
    background-color: #794426;
    color: white;
}

.topHeader>.container>.topHeaderRow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.topHeaderRow>.firstCol {
    width: 70%;
    font-size: 18px;
}

.topHeaderRow>.firstCol>i {
    margin-right: 5px;
}

.topHeaderRow>.secondCol {
    text-align: right;
    width: 15%;
    min-width: 165px;
    font-size: 14px;
    white-space: nowrap;
}

.topHeaderRow>.thirdCol {
    text-align: right;
    width: 15%;
    min-width: 165px;
    font-size: 14px;

}

.topHeaderRow>.thirdCol>a {
    color: white;
}


/* Hero Section */

.heroSectionOuter {
    background-color: #FFF4EE;
    position: relative;

}

.heroSection>.backgroundImages {

    position: absolute;
    display: flex;
    width: 100%;
    z-index: 0;
    justify-content: space-between;
    align-items: center;
}

.heroSection>.backgroundImages>.img1 {
    background-image: url(images/Group15.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    width: 300px;
}

.heroSection>.backgroundImages>.img2 {
    background-image: url(images/Group16.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    width: 300px;
}

.heroSection>.backgroundImages>.img3 {
    display: none;
}

.heroSection>.container>.mobileHeader {
    display: none;
}

.heroSection .container .mobileHeader .leftSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    text-decoration: none;
    color: black;
}

button.navbar-toggler {
    background-color: white;
}

.heroSection>.container>.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.heroSection>.container>.mainHeader>.leftSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.mainHeader>.leftSection>.logo>img {
    width: 80px;
}

.mainHeader>.leftSection>.brandLabel {
    font-weight: bold;
    white-space: nowrap;
}

.mainHeader>.rightSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.mainHeader>.rightSection ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.mainHeader>.rightSection>ul>li>a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.mainHeader>.rightSection>.donateButton a {
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

.offcanvas-body > .donateButton{
    margin-top: 20px;
}
.offcanvas-body > .donateButton a {
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    border-radius: 5px;

}

.mainHeading {
    text-align: center;
    /* vertical-align: middle; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 320px;
    padding-bottom: 70px;
}

.mainHeading>h1 {
    font-family: 'larissa';
    color: var(--primary-color);

}

.mainHeading>p {
    color: black;
    margin: 0;
}


/* Donate Form */

.donateForm>.container>.heading {
    text-align: center;
}

.donateForm>.container>.heading>p {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 30px;
}

.donateForm>.container>.formOuter {
    background-color: #FFBD98;
    padding: 20px;
    border-radius: 10px;
}

.formInner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 30px;
    padding: 30px 0;
}

.formInner>.formWrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 402px;
}

.formInner>.formWrapper>.formHeading {
    font-weight: 600;
    margin-bottom: 25px;
}

.formInner>.formWrapper>.leftForm {
    width: 85%;
    min-width: 300px;
}

.formInner>.formWrapper>.leftForm>.firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.formInner>.formWrapper>.leftForm>.firstRow>input {
    width: 48%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.formInner>.formWrapper>.leftForm>.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.formInner>.formWrapper>.leftForm>.secondRow>.radioButton>input[type="radio"] {
    display: none;
}

.formInner>.formWrapper>.leftForm>.secondRow>.radioButton>label {
    color: black;
    background-color: white;
    cursor: pointer;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formInner>.formWrapper>.leftForm>.secondRow>.radioButton>input[type="radio"]:checked+label {
    background-color: var(--primary-color);
    color: #fff;
}

.formInner>.formWrapper>.leftForm>.secondRow>.radioButton .euroClass {
    width: 90px;
    text-align: center;
    white-space: nowrap;
}

.formInner>.formWrapper>.leftForm>.thirdRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formInner>.formWrapper>.leftForm>.thirdRow>.radioButton>input[type="radio"] {
    display: none;
}

.formInner>.formWrapper>.leftForm>.thirdRow>.radioButton {
    width: 100%;
    text-align: center;
}

.formInner>.formWrapper>.leftForm>.thirdRow>.radioButton>label {
    color: black;
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formInner>.formWrapper>.leftForm>.thirdRow>.radioButton>input[type="radio"]:checked+label {
    background-color: var(--primary-color);
    color: #fff;
}

.formInner>.formWrapper>.rightForm {
    width: 85%;
    min-width: 300px;
}

.formInner>.formWrapper>.rightForm>.firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.formInner>.formWrapper>.rightForm>.firstRow::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    font-size: 15px;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.formInner>.formWrapper>.rightForm>.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.formInner>.formWrapper>.rightForm>.secondRow::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    font-size: 15px;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.formInner>.formWrapper>.rightForm>.thirdRow {
    display: flex;
    justify-content: center;
    align-items: center;
}


.formInner>.formWrapper>.rightForm>.firstRow select {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    appearance: none;
    /* Remove default styling */
    -webkit-appearance: none;
    /* For Safari */
    -moz-appearance: none;
    /* For Firefox */
    border: 1px solid grey;
    cursor: pointer;
}

.formInner>.formWrapper>.rightForm>.secondRow select {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    appearance: none;
    /* Remove default styling */
    -webkit-appearance: none;
    /* For Safari */
    -moz-appearance: none;
    /* For Firefox */
    border: 1px solid grey;
    cursor: pointer;
}

.formInner>.formWrapper>.rightForm>.thirdRow a {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
}


/* About Section */

.aboutSection>.container>.about>h3 {
    color: var(--primary-color);
    font-weight: 600;
}

.aboutSection>.container>.about {
    margin-bottom: 40px;
}

/* Support Section */

.SupportSection {
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.SupportSection>.container>.support {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    gap: 15px;
    color: white;
}

.SupportSection>.container>.support>h2 {
    font-weight: bold;
}

.SupportSection>.container>.support>a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    padding: 8px 18px;
}


/* Support Section */

.footerMenuSection .footerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
    font-size: 13px;
    font-weight: bold;

}

.footerMenuSection .footerMenu a {
    color: black;
    text-decoration: none;
}

.footerMenuSection .footerMenu li {
    white-space: nowrap;
}

.footerBrandsSection .footerBrandInner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footerBrandsSection .contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footerBrandsSection .contactUs .firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerBrandsSection .contactUs .firstSection .upper {
    margin-bottom: 20px;
}

.footerBrandsSection .contactUs .secondSection .upper {
    margin-bottom: 20px;
}

.footerBrandsSection .contactUs .firstSection .lower a {
    text-decoration: none;
}

.footerBrandsSection .contactUs .firstSection .lower i {
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}

.footerBrandInner img {
    width: 25%;
    min-width: 135px;
}

.footerBrandsSection .footerTradeMark {
    margin-top: 30px;
    text-align: center;
}

.footerBrandsSection .footerTradeMark p {

    font-size: 12px;
    margin: 0;
}

.footerBrandsSection .contactUs .firstSection .lower .twitter {
    background-color: #1DA1F2;
}

.footerBrandsSection .contactUs .firstSection .lower .facebook {
    background-color: #3B5998;
}

.footerBrandsSection .contactUs .firstSection .lower .youtube {
    background-color: #CD201F;
}

.footerBrandsSection .contactUs .firstSection .lower .instagram {
    background-color: #262626;
}

.footerBrandsSection .contactUs .secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerBrandsSection .contactUs .secondSection .lower p {
    margin: 0;
    padding: 0;
    background-color: #794426;
    color: white;
    padding: 8px 30px;
    border-radius: 50px;

}

/* .footerBrandsSection .footerBrandInner img{
    
} */

.footerBrandsSection {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 991px) {
    .heroSection>.container>.mainHeader {
        display: none;
    }

    .heroSection>.container>.mobileHeader {
        display: block;
    }

    .footerMenuSection .footerMenu {
        flex-direction: column;
    }

}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {

    .navbar-brand .leftSection .logo img {
        width: 70px;
    }

    .navbar-brand .leftSection .brandLabel {
        font-size: 12px;
    }

    .mobileHeader .navbar-toggler {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topHeader>.container>.topHeaderRow {
        text-align: center;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .topHeader>.container>.topHeaderRow .firstCol {
        text-align: center;

    }

    .topHeader>.container>.topHeaderRow .secondCol {
        text-align: center;

    }

    .topHeader>.container>.topHeaderRow .thirdCol {
        text-align: center;

    }

    .mainHeading {
        position: relative;
        z-index: 2;
    }

    .formInner>.formWrapper>.leftForm>.secondRow>.radioButton .euroClass {
        width: 70px;

    }

    .formInner>.formWrapper>.leftForm {
        width: 70%;
    }

    .formInner>.formWrapper>.rightForm {
        width: 70%;

    }

    .heroSection>.backgroundImages>.img1 {
        display: none;

    }

    .heroSection>.backgroundImages>.img2 {

        display: none;
    }

    .heroSection>.backgroundImages {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroSection>.backgroundImages>.img3 {
        display: block;
        background-image: url(images/group88.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 100%;
        width: 300px;
    }

    .SupportSection>.container>.support {
        height: 250px;
        text-align: center;
    }

    .footerBrandsSection .contactUs .secondSection .lower p {
        white-space: nowrap;
        font-size: 12px;
    }

    .firstSection .upper {
        white-space: nowrap;
    }

    .firstSection .lower {
        white-space: nowrap;
    }

    .firstSection .lower a i {
        margin-right: 3px !important;
    }
}